/* Define variables for reusable properties */
:root {
  --font-family: Arial, sans-serif;
  --color-background-dark: #333;
  --color-background-light: #f0f0f0;
  --color-background-card: #fff;
  --color-text-dark: #454545;
  --color-text-light: #fff;
  --color-text-link: #000;
  --color-text-link-hover: #999;
  --color-text-hover: #ccc;
  --transition-standard: 0.5s ease;
  --color-nav-background: #000000;
  --color-nav-text: #ffffff;
  --color-nav-text-hover: #ddd;
}

/* Remove default margin and padding */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background-light);
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--color-nav-background);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item:not(:last-child) {
  display: inline-block;
  margin-right: 10px;
}

.nav__link, .projects__link {
  text-decoration: none;
  color: var(--color-nav-text);
  font-weight: bold;
  transition: color var(--transition-standard);
  padding: 10px 20px;
  display: block;
}

.nav__link:hover, .projects__link:hover {
  color: var(--color-nav-text-hover);
}

.main {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: var(--color-nav-background);
  color: var(--color-nav-text);
  padding: 10px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.cover-image {
  width: 100%;
  height: auto;
  max-width: 2000px;
  max-height: 325px;
  object-fit: cover; 
  object-position: bottom; 
}

p {
  margin-bottom: 10px;
}

.content {
  margin-left: 40px; 
}

footer {
  text-align: center;
  background-color: var(--color-nav-background);
  color: var(--color-nav-text);
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.scroll-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity var(--transition-standard), transform var(--transition-standard);
}

.scroll-section.section-reveal {
  opacity: 1;
  transform: translateY(0);
}

.section-visible {
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-standard), visibility var(--transition-standard);
}

.intro {
  color: var(--color-text-dark);
  text-align: center;
  padding: 50px;
}

.intro__header {
  font-size: 36px;
  margin-bottom: 20px;
}

.intro__text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.intro__action {
  text-decoration: none;
  color: var(--color-text-light);
  background-color: var(--color-background-dark);
  padding: 10px 20px;
  display: inline-block;
  transition: background-color var(--transition-standard), color var(--transition-standard);
}

.intro__action:hover {
  background-color: var(--color-text-light);
  color: var(--color-background-dark);
}

.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.projects__item {
  background-color: var(--color-background-card);
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.projects__header {
  font-size: 24px;
  margin-bottom: 10px;
}

.projects__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.projects__link {
  text-decoration: none;
  color: var(--color-text-link);
  transition: color var(--transition-standard);
}

.projects__link:hover {
  color: var(--color-text-link-hover);
}
